

* { margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;}

.conteiner-header { background-color: #B0906B;
height: 100vh;
width: 100%;
display: flex;
flex-wrap: wrap;}


li { list-style: none;
color:#B0906B;
display: inline-block;
font-weight: bold;
align-items: center;
margin: 0px 30px;}

nav { width: 100%;
    height: 20%;
    display: flex;
    background-color: #F1F1F1;
    justify-content: space-around;
    align-items: center;
}
.logo { width: 20%;
    height: 100%;
    object-fit: contain;}

.conteiner-info { display: flex!important;
width: 100%;
height: 80%;
display: inline-block;
justify-content: center;
align-items: center;
justify-content: space-between;}

.conteiner-parrafo { display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 50%;
height: 50%;}

p { margin-left: 80px;
margin-right: 50px;}

h2 { font-size: 45px;}

.Cafe-caramelo { width: 30%;
height: 80%;
display: flex;
justify-content: center;
margin-right: 80px;
margin-top: 30px; }

.button { background-color: #C8A955;
height: 50px;
width: 30%;
color: black;
border: none;
border-radius: 10px;
text-transform: uppercase;
font-size: 15px;
padding: 12px;
margin-top: 20px;} 

.Tipos-cafe { display: flex!important;
display: inline-block;
height: 100vh;
width: 100%;
background-color: #81370C;
justify-content: center;
align-items: center;
justify-content: space-evenly;}

.conteiner-granos { width: 25%;
align-items: center;
flex-direction: column;
margin-top: 80px;
display: inline-block;
padding-left: 10px;
}

.Imagen-1 { object-fit: contain;
width: 100%;
justify-content: center;
align-items: center;}

.texto-cafe { margin-top: 10px;
margin-left: 50px;}